h1{
    text-align: center;
    color: blueviolet;
}
h3{
    text-align: right;
}
h4{
    text-align: right;
    color: darkmagenta;
}
body{
    background-color:pink;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: darkmagenta;
}
li:before{
content: ">";
}
li{
    list-style-type: none;
    text-align: center;
}