h1{
    text-align: center;
    font-size: 500%;
}
.link{
    font-size: 36px;
    color:red;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.cim{
    background-color: red;
    color: white;
}
.tartalom{
    background-color: white;
    color: red;
    text-align: justify;
    font-size: 24px;
}
li{
    color: tomato;
    font-size: 36px;
}
#back{
    text-align: center
}
