body{
    background-color: black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-size: 70px;
    }
a:hover{
    color: black;
    background-color: white; 
}

