#bemutatkozo{
    text-align: center;
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    color:  #FFB6C1;
    text-decoration: underline;
}
h2{
color: #FFB6C1;
background-color: aliceblue;
margin: 5%;
}
#rolam{
    text-align: center;
    background-color: #FFB6C1;
    color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-decoration: underline;
    
}
.tortenet{
    background-color: #FFB6C1;
    color: aliceblue;
    margin: 5%;
    font-size: 200%;

}
.Jhin{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 60%;
    

}

.me{
    float: right;
}
a:link{
    color: #FFB6C1;
}
a:visited{
    color: palevioletred;

}

